
// @import '../../node_modules//bootstrap/scss/mixins';

// $grid-breakpoints: (
//   xs: 0,
//   sm: 480px,
//   md: 650px,
//   ts: 700px,
//   lg: 767px,
//   xl: 992px,
//   xxl: 1200px, 
// );
$themecolour1: rgba(22, 22, 22, 0.8);
$themecolour2: rgb(110, 110, 110);
$themecolour3: #2557a7;


.mainbody__container.container-fluid{
    background-color: #FAF9F8;

  }
  .row.mainbody__container-row{
    max-width: 70rem;
    margin: auto;
    // border-style: solid
  
  }
  // .row.mainbody__container-row .col{
  //   // background-color: grey;
  //   // border-style: dashed;
  //   // border-color: rgb(44, 35, 210);
  // } 
  
    @media screen and (max-width: 650px) {
        .row.mainbody__container-row .col.main__column2{
            display: none;
        }
    }

.row [class='col main__column2 mx-3 '] {
    transition: all 0.5s ease-in-out;
    // height: 100%;
}
.input.jobtype {
    width: fit-content;
    background-color: #E4F7E6;
    color: #1F662C;
}

ul .card-text{
    list-style-type: circle;
}
.mainbody__jobdescription-container{
  background-color: white;
  border-top-left-radius: 0.375rem ;
  border-top-right-radius: 0.375rem;
  margin-bottom: 0.3rem;
  // border-bottom: black;
  // border-bottom-style: solid;
  box-shadow: 0rem 0.1rem 0.1rem 0.1rem rgb(130, 129, 129, 0.1); 
}
button.text-decoration-none.text-reset.position-absolute{
  width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0;
    // :hover{
    //   border-style: solid;
    //   border-radius: 0.375rem;
    //   border-width: thin;
    //   border-color: $themecolour3;
    // }
}
button.mainbody__jobdescription-applybtn{
  background-color: $themecolour3;
  font-weight: bold;
}
.bi.bi-heart{
  background-color: #D4D2D0;
  border-radius: 0.3rem;
  margin-left: 1rem;
  padding: 0.3rem 0.5rem;
  display: block;
 
}
.mainbody__jobdescription-jobdetails.container{
  background-color: white;
  border-bottom-left-radius: 0.375rem ;
  border-bottom-right-radius: 0.375rem;
  max-height: 45rem;
}
.mainbody__jobdescription{
  border-style: solid;
  border-radius: 0.375rem;
  border-width: thin;
  border-color: rgb(210, 210, 210);
}
div.card.my-3.joblist.p-3.position-relative:active{

    border-style: solid;
    border-radius: 0.375rem;
    border-width: thin;
    border-color: $themecolour3;
}
.mainbody__container-columntwocontainer{
  // margin-top: 10px;
  margin-bottom: 1rem;
  position: sticky;
  top: 10px;

}
.jobdetailshighlight{
background-color: #F3F2F1;;
width: fit-content;
color: $themecolour1;
}
.jobdetails-salaryName{
  display: inline;
  color: $themecolour1;
}
.mainbody__jobdescription-jobdetails-section1, 
.mainbody__jobdescription-jobdetails-section2,
.mainbody__jobdescription-jobdetails-section3
{
  border-bottom: solid;
  border-width: thin;
  border-color: rgb(210, 210, 210);
}

.mainbody__jobdescription-jobdetails-section4,
.mainbody__jobdescription-jobdetails-section5
{
  border-bottom: solid;
  border-width: 0.15rem;
  border-color: rgb(210, 210, 210);
}
