
// // $navbar-padding-y: 0px;
// // $navbar-brand-padding-y: 0px;
//  $navbar-padding-y: 0px;
$themecolour1: rgba(22, 22, 22, 0.8);
$themecolour2: rgb(110, 110, 110);
$themecolour3: #2557a7;



img.navbar-brand{
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 150px;
  align-items: center;
  @media screen and (max-width: 992px) {
    max-width: 110px;
  }
}
.app__navbar-hr-nogap {
    padding: 0px;
    margin: 0px;    
    @media screen and (max-width: 992px) {
      display: none;
      
    }
}
nav.app__navbar {
    padding-bottom: 0;
}
.app__navbar-logospace{
  // width: 160px;
  align-items: center;


}

ul.navbar-nav.mr-auto li{
    // display: flex;
    //border-style: dashed;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav-item a{
  color: $themecolour1
}


 .navbar-nav.mr-auto li:hover{
  border-bottom-style: solid;
  border-bottom-color: rgb(32, 79, 117)
}
.app__navbar-navend .nav-link{
  // margin-left: 1rem;
  margin-right: 1.5rem;
  padding-top: 1rem;
}
.bi{
  font-size: 1.5rem;
}.bi-search, .bi-geo-alt-fill{
  font-size: 1rem;
  padding: 10px;
  position:relative;
  box-sizing:border-box;
  top:50%;
  right:2px;
  color: $themecolour1;
  
}
div.app__navbar-navend div{
  width: 1px;
  height: 30px;
  background-color: $themecolour1
}


@media screen and (max-width: 992px)
{ 
  .app__navbar-smallscreen{
    display: block;
  }
  div.app__navbar-navend{
    flex-direction: row;
    margin-left: auto;

  }
  div.app__navbar-navend .nav-text-extra{
    display: none;

  }

 }

 .app__navbarsearch{
  padding:4rem 6rem 2rem 6rem;
  @media screen and (max-width: 992px){ 

    padding-top: 1.2rem;
    padding-left: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.7rem;
 }
 @media screen and (max-width: 767px)
 { 
  padding-bottom: 0;
 }
 }
#inputGroup-sizing-lg-1, #inputGroup-sizing-lg-2{

  background-color: white;
  border-right: none;
  font-size: medium;
  font-weight:bold;
  color: $themecolour1;
  border-color: $themecolour2;
}

 .app__navbarsearch-joblink{
  text-align: center;
  padding-top: 0.5rem;
  font-size: large;
  @media screen and (max-width: 480px) {
    display: none;
  }

 }

.app__navbarsearch-joblink-link {
  text-decoration: none;
  color: $themecolour3;
 }
 .app__navbarsearch-inputfield{
    max-width: 70%;
    margin:auto;
 }
 form.app__navbarsearch-inputfield .col-lg{
  @media screen and (min-width: 767px){
    flex: none;
  }
  @media screen and (min-width: 992px)
  { 
    flex: 1 0;
  }
 }

 form.app__navbarsearch-inputfield .col-lg-auto{
  @media screen and (min-width: 767px)
  { width: 100%; }
  @media screen and (max-width: 992px)
  { 
    display: grid;
  }
  @media screen and (min-width: 992px)
  { 
    flex: 0 0 auto;
    width: auto;
 }

}

.app__navbarsearch-inputfield-individual.form-control{
  border-left: none;
  border-color: $themecolour2;
  font-size: medium;

}::placeholder {
  font-size: 1rem;
}



 button.app__navbarsearch-inputfield-searchform-btn.btn.btn-lg{
  background-color: $themecolour3;
}


.app__navbar-hr-thickgap {
  margin: 0;
  @media screen and (max-width: 767px) {

        top: 20px;
        border: none;
        height: 10px;
        background:$themecolour2;
    
  }
}

@media screen and (max-width: 992px)
{ 
  .app__navbarsearch-joblink{
    padding-bottom: 1.9rem;
    padding-top:1.9rem;
  }
  ul.navbar-nav.mr-auto.nav-start{
    display: none;
   }
}

@media screen and (max-width: 767px)
{ 
  .app__navbarsearch-inputfield{
     padding-bottom: 1.5rem;

  }
  .app__navbarsearch-joblink{
    padding-bottom: 0.5rem;
    padding-top: 0.8rem;
  }
  button.navbar-toggler.ctoggle .navbar-expand-lg{
    display: block;
  }
}

@media screen and (max-width: 992px)
{ 
  .navbar-expand-lg .navbar-toggler.ctoggle {
    display:flex;
}

}

  

