
@import '../../../node_modules/bootstrap/scss/mixins';

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 650px,
  lg: 767px,
  xl: 992px,
  xxl: 1200px,
);



.mainbody__container.container-fluid{
    background-color: #FAF9F8;

  }
  .row.mainbody__container-row{
    max-width: 70rem;
    margin: auto;
    // border-style: solid
  
  }
  .row.mainbody__container-row .col{
    // background-color: grey;
    // border-style: dashed;
    // border-color: rgb(44, 35, 210);
  } 
  
    @include media-breakpoint-down(md) {
        .row.mainbody__container-row .col.main__column2{
            display: none;
        }
    }

.row [class='col main__column2 mx-3 '] {
    transition: all 0.5s ease-in-out;
}
.input.jobtype {
    width: fit-content;
    background-color: #E4F7E6;
    color: #1F662C;
}

ul .card-text{
    list-style-type: circle;
}